.root {
  display: inline-flex;
  gap: var(--pl-space-2);
  align-items: center;
}
.label {
  font-size: 0.75rem;
  color: var(--pl-color-text-muted);
}
.btn {
  font-size: 0.75rem;
  min-height: 24px;
  min-width: 24px;
  border-radius: var(--pl-radius-md);
  background: transparent;
  color: var(--pl-color-text);
  transition:
    background var(--pl-dur-med) var(--pl-ease),
    opacity var(--pl-dur-med) var(--pl-ease);

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover {
    background: var(--pl-color-surface-2);
  }

  &.active {
    background: var(--pl-color-surface-2);
    border-color: var(--pl-color-border);
  }

  &:disabled {
    opacity: 0.6;
  }
}
